<?xml version="1.0" encoding="UTF-8"?>
<configuration packagingData="false">

	<appender name="CONSOLE"
		class="ch.qos.logback.core.ConsoleAppender">
		<target>System.out</target>
		<encoder>
			<pattern>%date{yyyy-MM-dd HH:mm:ss} %-5level [%thread] %logger{1} - %msg%n</pattern>
		</encoder>
	</appender>

	<appender name="FILE" class="ch.qos.logback.core.FileAppender">
		<file>./logs/app.log</file>
		<append>true</append>
		<!-- set immediateFlush to false for much higher logging throughput -->
<!-- 		<immediateFlush>true</immediateFlush> -->
		<!-- encoders are assigned the type ch.qos.logback.classic.encoder.PatternLayoutEncoder
			by default -->
		<encoder>
			<pattern>%date{yyyy-MM-dd HH:mm:ss} %-5level [%thread] %logger{1} - %msg%n</pattern>
		</encoder>
	</appender>

	<!-- <logger name="akka" level="DEBUG" /> -->
	<!-- <logger name="scala.slick" level="DEBUG" /> -->
	<logger name="com.order" level="info" />
	<logger name="org.springframework.boot" level="info"/>
	<logger name="org.springframework.boot.autoconfigure" level="warn"/>
	<root level="info">
		<appender-ref ref="FILE" />
		<appender-ref ref="CONSOLE" />
	</root>

</configuration>